<h1>Enrutamiento con Angular</h1>

<!-- make a nav bar with links to the different components -->
<nav>
  <ul>
    <!-- <li><a routerLink="/home" [routerLinkActive]="route-active">Home</a></li> para variables en javascript -->
    <li><a routerLink="/home" routerLinkActive="route-active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="route-active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="route-active">Contact</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
